.hero {
  background-image: url(../imagenes/bg-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30vh; }

.hero__col1 {
  text-align: center; }

.hero__h1 {
  font-family: "Alegreya SC", serif;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(-50px);
  transition: all 1s ease-in-out; }

.hero__h1--active {
  opacity: 1;
  transform: translateY(0%); }

.hero__btn {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  background-color: #34598F;
  border-radius: 100px;
  padding: 7px 15px 7px 15px;
  text-decoration: none; }

.hero__container__btn {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-in-out; }

.hero__container__btn--active {
  opacity: 1;
  transform: translateY(0%); }

.hero__btn:hover {
  color: #34598F;
  background-color: white;
  text-decoration: none; }

/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero__h1 {
    font-family: "Alegreya SC", serif;
    color: white;
    font-size: 3rem;
    margin-bottom: 20px; }
  .hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35vh; }
  .hero__btn {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.3rem;
    background-color: #34598F;
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    text-decoration: none; } }

/* COMPUTADORA CHICA */
/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .hero__h1 {
    font-family: "Alegreya SC", serif;
    color: white;
    font-size: 3rem;
    margin-bottom: 20px; } }

.menu {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px; }

.logoMenu {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0px;
  padding-top: 20px;
  color: white; }

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: auto;
  padding-top: 20px; }

.linkMenu {
  margin-right: 20px;
  text-decoration: none;
  margin-bottom: 50px; }

.enlaceLink {
  text-decoration: none;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  transition: all 0.3s ease-in; }

.enlaceLink:hover {
  color: gray;
  text-decoration: none; }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0; }
  .logoMenu {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    margin: 0px;
    padding-top: 10px;
    color: white; }
  ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: auto;
    background-color: #34598F;
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
    transform: translate(100%);
    transition: transform 0.5s ease-in; }
  ul.active {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: auto;
    background-color: #34598F;
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
    transform: translate(0%);
    transition: transform 0.5s ease-in; }
  .linkMenu {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px; }
  .enlaceLink {
    text-decoration: none;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 40px;
    transition: all 0.4s ease-in-out; }
  .enlaceLink:hover {
    font-size: 50px;
    color: white;
    text-decoration: none; }
  .liHome {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(600px);
    transition: transform 1s ease-in-out; }
  .liAbout {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(600px);
    transition: transform 1s ease-in-out 0.2s; }
  .liServicios {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(600px);
    transition: transform 1s ease-in-out 0.4s; }
  .liContacto {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(600px);
    transition: transform 1s ease-in-out 0.6s; }
  .liFaq {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(600px);
    transition: transform 1s ease-in-out 0.8s; }
  .link-active {
    transform: translate(0%); }
  /* BTN BURGER */
  .contenedorBurger {
    display: flex;
    margin-left: auto;
    padding-top: 20px; }
  .linea1 {
    background-color: white;
    width: 25px;
    height: 3px;
    transition: transform 0.2s ease-in; }
  .linea2 {
    background-color: white;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: opacity 0.2s ease-in; }
  .linea3 {
    background-color: white;
    width: 25px;
    height: 3px;
    transition: transform 0.2s ease-in; }
  .toggle .linea1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: white; }
  .toggle .linea2 {
    opacity: 0;
    background-color: white; }
  .toggle .linea3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: white; }
  .burgerBtn {
    display: block;
    cursor: pointer;
    z-index: 2; } }

/* CELULAR */
@media (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0; }
  .logoMenu {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0px;
    padding-top: 20px;
    color: white; }
  ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: auto;
    background-color: #34598F;
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
    transform: translate(100%);
    transition: transform 0.5s ease-in; }
  ul.active {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: auto;
    background-color: #34598F;
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
    transform: translate(0%);
    transition: transform 0.5s ease-in; }
  .linkMenu {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px; }
  .enlaceLink {
    text-decoration: none;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    transition: all 0.4s ease-in-out; }
  .enlaceLink:hover {
    font-size: 40px;
    color: white;
    text-decoration: none; }
  .liHome {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(600px);
    transition: transform 1s ease-in-out; }
  .liAbout {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(600px);
    transition: transform 1s ease-in-out 0.2s; }
  .liServicios {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(600px);
    transition: transform 1s ease-in-out 0.4s; }
  .liContacto {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(600px);
    transition: transform 1s ease-in-out 0.6s; }
  .liFaq {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(600px);
    transition: transform 1s ease-in-out 0.8s; }
  .link-active {
    transform: translate(0%); }
  /* BTN BURGER */
  .contenedorBurger {
    display: flex;
    margin-left: auto;
    padding-top: 30px; }
  .linea1 {
    background-color: white;
    width: 25px;
    height: 3px;
    transition: transform 0.2s ease-in; }
  .linea2 {
    background-color: white;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: opacity 0.2s ease-in; }
  .linea3 {
    background-color: white;
    width: 25px;
    height: 3px;
    transition: transform 0.2s ease-in; }
  .toggle .linea1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: white; }
  .toggle .linea2 {
    opacity: 0;
    background-color: white; }
  .toggle .linea3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: white; }
  .burgerBtn {
    display: block;
    cursor: pointer;
    z-index: 2; } }

.about {
  height: 100vh;
  overflow-y: hidden; }

.about__col1 {
  height: 50vh;
  padding: 50px 25px 50px 25px; }

.about__line {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease-in-out; }

.about__line--active {
  opacity: 1;
  transform: translateX(0%); }

.about__title {
  font-family: "Alegreya SC", serif;
  color: #34598F;
  font-weight: 600;
  margin-bottom: 20px; }

.about__p {
  font-family: "Source Sans Pro", sans-serif;
  color: #34598F;
  font-weight: 500;
  line-height: 2rem; }

.about__col2 {
  height: 50vh;
  background-image: url(../imagenes/img-quienes-somos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .about {
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0; }
  .about__col1 {
    height: auto;
    width: auto;
    padding: 50px 50px 50px 50px; } }

/* COMPUTADORA CHICA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about {
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0; }
  .about__col1 {
    height: auto;
    width: auto;
    padding: 50px 50px 50px 50px; } }

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .about {
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden; }
  .about__col1 {
    height: auto;
    width: auto;
    padding: 50px 100px 50px 100px; }
  .about__col2 {
    height: 60vh;
    background-image: url(../imagenes/img-quienes-somos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }

.mision {
  overflow-y: hidden; }

.mision__col1 {
  padding: 50px 25px 50px 25px; }

.mision__col2 {
  height: 50vh;
  background-image: url(../imagenes/img-mision-vision-valor.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.mision__h3 {
  font-family: "Alegreya SC", serif;
  color: #34598F;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px; }

.mision__p {
  font-family: "Source Sans Pro", sans-serif;
  color: #34598F;
  font-weight: 500;
  line-height: 2rem; }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .mision__col1 {
    padding: 50px 75px 50px 75px; } }

/* COMPUTADORA CHICA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .mision__col2 {
    height: 85vh;
    background-image: url(../imagenes/img-mision-vision-valor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .mision__col1 {
    padding: 50px 50px 50px 50px; } }

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .mision {
    height: 100vh; }
  .mision__col2 {
    height: 100vh;
    background-image: url(../imagenes/img-mision-vision-valor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .mision__col1 {
    padding: 50px 70px 50px 70px; } }

.servicios {
  overflow-y: hidden;
  padding: 100px 25px 0px 25px; }

.container__servicios__2 {
  text-align: center; }

.servicios__col1 {
  margin-bottom: 20px; }

.servicios__h2 {
  font-family: "Alegreya SC", serif;
  color: #34598F;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px; }

.servicios__col2 {
  background-color: #34598F;
  border-radius: 50px;
  text-align: center;
  padding: 50px 10px 50px 10px;
  margin-bottom: 20px; }

.servicios__h4--blanco {
  color: white;
  font-family: "Alegreya SC", serif;
  font-size: 1.4rem; }

.servicios__col3 {
  background-color: white;
  border: solid 1px #34598F;
  border-radius: 50px;
  text-align: center;
  padding: 50px 10px 50px 10px;
  margin-bottom: 20px; }

.servicios__h4--azul {
  color: #34598F;
  font-family: "Alegreya SC", serif;
  font-size: 1.4rem; }

.servicios__col4 {
  background-color: #34598F;
  border-radius: 50px;
  text-align: center;
  padding: 50px 10px 50px 10px; }

.container__servicios__2 {
  padding: 50px 0px 50px 0px; }

.servicios__row2__col1 {
  text-align: center; }

.servicios__p {
  color: #34598F;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  margin-bottom: 30px; }

.servicios__row2__col2 {
  text-align: center; }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .servicios {
    overflow-y: hidden;
    padding: 25px 25px 0px 25px; }
  .servicios__col1 {
    text-align: center; } }

/* COMPUTADORA CHICA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .servicios {
    overflow-y: hidden;
    padding: 25px 25px 20px 25px; }
  .servicios__col1 {
    text-align: center;
    margin-bottom: 30px; }
  .servicios__row2 {
    text-align: center;
    justify-content: center; }
  .servicios__col2 {
    background-color: #34598F;
    border-radius: 50px;
    text-align: center;
    padding: 50px 10px 50px 10px;
    height: 200px; }
  .servicios__col3 {
    background-color: white;
    border: solid 1px #34598F;
    border-radius: 50px;
    text-align: center;
    padding: 50px 10px 50px 10px;
    height: 200px;
    margin: 0px 20px 0px 20px; }
  .servicios__col4 {
    background-color: #34598F;
    border-radius: 50px;
    text-align: center;
    padding: 50px 10px 50px 10px;
    height: 200px; }
  .servicios__row3 {
    text-align: center;
    justify-content: center; } }

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .servicios {
    overflow-y: hidden;
    padding: 50px 25px 50px 25px; }
  .servicios__col1 {
    text-align: center;
    padding-bottom: 20px; }
  .servicios__row2 {
    text-align: center;
    justify-content: center; }
  .servicios__col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #34598F;
    border-radius: 50px;
    text-align: center;
    padding: 50px 10px 50px 10px; }
  .servicios__col3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: white;
    border: solid 1px #34598F;
    border-radius: 50px;
    text-align: center;
    padding: 50px 10px 50px 10px;
    margin: 0px 20px 0px 20px; }
  .servicios__col4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #34598F;
    border-radius: 50px;
    text-align: center;
    padding: 50px 10px 50px 10px; }
  .servicios__row3 {
    margin-top: 20px;
    text-align: center;
    justify-content: center; }
  .servicios__h2 {
    margin-bottom: 30px; } }

.elegirnos {
  background-image: url(../imagenes/bg-elegirnos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 25px 100px 25px; }

.elegirnos__col1 {
  text-align: center; }

.elegirnos__h3 {
  color: white;
  font-family: "Alegreya SC", serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px; }

.elegirnos__p {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem; }

.elegirnos__h4 {
  color: white;
  font-family: "Alegreya SC", serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 20px; }

.contacto {
  background-color: white;
  padding: 100px 25px 100px 25px; }

.contacto__h3 {
  font-family: "Alegreya SC", serif;
  color: #34598F;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 25px; }

.contacto__form__input {
  border: solid 1px #34598F;
  color: #34598F;
  border-radius: 100px;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin-bottom: 10px; }

.contacto__form__input--mensaje {
  border: solid 1px #34598F;
  border-radius: 20px;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin-bottom: 10px;
  color: #34598F; }

.contacto__form__input::placeholder, .contacto__form__input--mensaje::placeholder {
  color: #34598F;
  opacity: 0.3; }

.contacto__form__input, .contacto__form__input--mensaje {
  outline: none; }

.contacto__container__btn {
  text-align: right; }

.contacto__btn__enviar {
  background-color: #34598F;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  border-radius: 100px;
  padding: 7px 15px 7px 15px; }

.footer {
  color: white;
  background-color: #34598F;
  padding: 30px 20px 30px 20px; }

.footer__col1 {
  text-align: center; }

.footer__h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem; }

.footer__h4--guinda a {
  text-decoration: none;
  color: white; }

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62,5%;
  scroll-behavior: smooth; }
