@import "variables.scss";

.about {
    height: 100vh;
    // overflow-y: hidden;
}

.about__col1 {
    height: 50vh;
    padding: 50px 25px 50px 25px;
}

.container__about {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-in-out;
}

.container__about--active {
    opacity: 1;
    transform: translateX(0%);
}

.about__title {
    font-family: $fuente-alegreya;
    color: $color-azul;
    font-weight: 600;
    margin-bottom: 20px;
}

.about__p {
    font-family: $fuente-source;
    color: $color-azul;
    font-weight: 500;
    line-height: 2rem;
}

.about__col2 {
    height: 50vh;
    background-image: url(../imagenes/img-quienes-somos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* MEDIA QUERIES */

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {
    .about {
        height: auto;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    .about__col1 {
        height: auto;
        width: auto;
        padding: 50px 50px 50px 50px;
    }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .about {
        height: auto;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    .about__col1 {
        height: auto;
        width: auto;
        padding: 50px 50px 50px 50px;
    }
}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {
    .about {
        height: auto;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .about__col1 {
        height: auto;
        width: auto;
        padding: 50px 100px 50px 100px;
    }

    .about__col2 {
        height: 60vh;
        background-image: url(../imagenes/img-quienes-somos.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}