@import "variables.scss";

.hero {
    background-image: url(../imagenes/bg-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.hero__col1 {
    text-align: center;
}

.hero__h1 {
    font-family: $fuente-alegreya;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 1s ease-in-out;
}

.hero__h1--active {
    opacity: 1;
    transform: translateY(0%);
}

.hero__btn {
    color: white;
    font-family: $fuente-source;
    font-size: 1rem;
    background-color: $color-azul;
    border-radius: 100px;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
}

.hero__container__btn {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

.hero__container__btn--active {
    opacity: 1;
    transform: translateY(0%);
}

.hero__btn:hover {
    color: $color-azul;
    background-color: white;
    text-decoration: none;
}

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {
    .hero__h1 {
        font-family: $fuente-alegreya;
        color: white;
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .hero__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35vh;
    }

    .hero__btn {
        color: white;
        font-family: $fuente-source;
        font-size: 1.3rem;
        background-color: $color-azul;
        border-radius: 100px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {
    .hero__h1 {
        font-family: $fuente-alegreya;
        color: white;
        font-size: 3rem;
        margin-bottom: 20px;
    }
}