@import "variables.scss";

.mision {
    overflow-y: hidden;
}

.mision__col1 {
    padding: 50px 25px 50px 25px;
}

.mision__col2 {
    height: 50vh;
    background-image: url(../imagenes/img-mision-vision-valor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mision__h3 {
    font-family: $fuente-alegreya;
    color: $color-azul;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.mision__p {
    font-family: $fuente-source;
    color: $color-azul;
    font-weight: 500;
    line-height: 2rem;
}

/* MEDIA QUERIES */

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {
    .mision__col1 {
        padding: 50px 75px 50px 75px;
    }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .mision__col2 {
        height: 85vh;
        background-image: url(../imagenes/img-mision-vision-valor.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mision__col1 {
        padding: 50px 50px 50px 50px;
    }
}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {
    .mision__col2 {
        height: 70vh;
        background-image: url(../imagenes/img-mision-vision-valor.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mision__col1 {
        padding: 50px 70px 50px 70px;
    }
}