@import "variables.scss";

.servicios {
    overflow-y: hidden;
    padding: 100px 25px 0px 25px;
}

.container__servicios__2 {
    text-align: center;
}

.servicios__col1 {
    margin-bottom: 20px;
}

.servicios__h2 {
    font-family: $fuente-alegreya;
    color: $color-azul;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.servicios__col2 {
    background-color: $color-azul;
    border-radius: 50px;
    text-align: center;
    padding: 50px 10px 50px 10px;
    margin-bottom: 20px;
}

.servicios__h4--blanco {
    color: white;
    font-family: $fuente-alegreya;
    font-size: 1.4rem;
}

.servicios__col3 {
    background-color: white;
    border: solid 1px $color-azul;
    border-radius: 50px;
    text-align: center;
    padding: 50px 10px 50px 10px;
    margin-bottom: 20px;
}

.servicios__h4--azul {
    color: $color-azul;
    font-family: $fuente-alegreya;
    font-size: 1.4rem;
}

.servicios__col4 {
    background-color: $color-azul;
    border-radius: 50px;
    text-align: center;
    padding: 50px 10px 50px 10px;
}

.container__servicios__2 {
    padding: 50px 0px 50px 0px;
}

.servicios__row2__col1 {
    text-align: center;
}

.servicios__p {
    color: $color-azul;
    font-family: $fuente-source;
    font-size: 1rem;
    margin-bottom: 30px;
}

.servicios__row2__col2 {
    text-align: center;
}

/* MEDIA QUERIES */

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {
    .servicios {
        overflow-y: hidden;
        padding: 25px 25px 0px 25px;
    }

    .servicios__col1 {
        text-align: center;
    }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {

    .servicios {
        overflow-y: hidden;
        padding: 25px 25px 20px 25px;
    }

    .servicios__col1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .servicios__row2 {
        text-align: center;
        justify-content: center;
    }

    .servicios__col2 {
        background-color: $color-azul;
        border-radius: 50px;
        text-align: center;
        padding: 50px 10px 50px 10px;
        height: 200px;
    }

    .servicios__col3 {
        background-color: white;
        border: solid 1px $color-azul;
        border-radius: 50px;
        text-align: center;
        padding: 50px 10px 50px 10px;
        height: 200px;
        margin: 0px 20px 0px 20px;
    }

    .servicios__col4 {
        background-color: $color-azul;
        border-radius: 50px;
        text-align: center;
        padding: 50px 10px 50px 10px;
        height: 200px;
    }

    .servicios__row3 {
        text-align: center;
        justify-content: center;
    }

}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {
    .servicios {
        overflow-y: hidden;
        padding: 50px 25px 50px 25px;
    }

    .servicios__col1 {
        text-align: center;
        padding-bottom: 20px;
    }

    .servicios__row2 {
        text-align: center;
        justify-content: center;
    }

    .servicios__col2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        background-color: $color-azul;
        border-radius: 50px;
        text-align: center;
        padding: 50px 10px 50px 10px;
    }

    .servicios__col3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        background-color: white;
        border: solid 1px $color-azul;
        border-radius: 50px;
        text-align: center;
        padding: 50px 10px 50px 10px;
        margin: 0px 20px 0px 20px;
    }

    .servicios__col4 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        background-color: $color-azul;
        border-radius: 50px;
        text-align: center;
        padding: 50px 10px 50px 10px;
    }

    .servicios__row3 {
        margin-top: 20px;
        text-align: center;
        justify-content: center;
    } 

    .servicios__h2 {
        margin-bottom: 30px;
    }
}