.hero {
  background-image: url(imagenes/bg-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30vh; }

.hero__col1 {
  text-align: center; }

.hero__h1 {
  font-family: "Alegreya SC", serif;
  color: white;
  font-size: 3.5rem; }

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62,5%; }
